<footer>
    <div class="f-info bigdiv">
        <div class="f-info-socials socialdiv">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="namediv">
            &copy;WanderLust Private Limited
        </div>
        <div class="f-info-links linksdiv">
            <a href="/privacy">Privacy Terms</a>
        </div>
    </div>
</footer>